<!doctype html>
<html lang="en">
<head>
    <title>Safebook</title>
</head>
<body>
  {% block content %}{% endblock %}

  <hr>

  <p>
    <a href="/">Safebook</a>
    &nbsp; &mdash; &nbsp;
    {% if user.is_authenticated %}
        you are {{ user.username }} -
        <a href="{% url tlssrp.views.edit username=user.username %}">edit account</a> or
        <a href="http://safebook.trustedhttp.org/">log out</a>
    {% else %}
        not logged in: <a href="https://safebook.trustedhttp.org/">log in</a> or
                       <a href="{% url tlssrp.views.register %}">register</a>
    {% endif %}
  </p>
</body>
</html>
